.sectionsWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  .sectionsContent {
    display: flex;
    transition: transform 0.7s ease;
    width: 100%;

    .section {
      flex: 0 0 100%;
      width: 100%;
      height: 55vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
