.heading {
  color: var(--primary-color);
  margin-bottom: 1rem;
  width: 80%;
  font-size: 0.875rem;
}

.addressRow {
  width: 80%;
  display: flex;
  justify-content: space-between;

  .halfInputWidth {
    width: 45%;
  }
}
