.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  margin: 1.25rem;
  font-family: "Roboto";
}

.prevButton,
.nextButton {
  font-size: 2rem;
  margin: 0 0.3rem;
  padding: 0.2rem 0.4rem;
}

.prevButton {
  border-radius: 3rem 0 0 3rem;
}

.nextButton {
  border-radius: 0 3rem 3rem 0;
}

.pagination span {
  margin: 0 0.6rem;
  font-size: 1rem;
  color: rgb(51, 51, 51);
}
