.personalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  overflow-y: auto;

  .personalRow {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .halfInputWidth {
      width: 45%;
    }
  }
  .fullInputWidth {
    width: 80%;
  }
}
