.candidate-form-container {
  margin: 12.3rem auto 0;
  display: flex;
}

.candidate-form {
  max-width: 53rem;
  flex: 60%;
}

.input-columns {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-around;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem 1rem 0;
}

.button-group p {
  align-self: center;
}

.close-button,
.save-button {
  border-radius: 0.3rem;
  font-size: 1.25rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}

.close-button {
  margin-left: auto;
  border: 0.1rem solid var(--primary-color);
  margin-right: 1.25rem;
  background-color: transparent;
  color: var(--primary-color);
}

.close-button:hover {
  border-color: var(--primary-hover);
  color: var(--primary-hover);
  background-color: transparent;
}

.save-button {
  padding: 0.75rem 1.5rem;
}

.skills-section {
  flex: 40%;
  padding-right: 4rem;
}

.skills-container {
  background: #ffffff;
  padding: 2rem;
  height: 33rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}

.hidden-input {
  display: none;
}
