.logo {
  display: flex;
  align-items: center;

  .icon {
    font-size: 2rem;
    color: var(--primary-color);
    margin-right: 0.5rem;
  }

  .text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: -0.05em;

    span {
      color: var(--primary-color);
    }
  }
}
