.dropArea {
  border: 0.1rem dashed var(--primary-color);
  border-radius: 0.5rem;
  padding: 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: #f9f9f9;
  color: #444;
  transition: background 0.3s ease, border-color 0.3s ease;

  &:hover {
    background: #e9ecef;
    border-color: var(--primary-hover);
  }

  > h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  > p {
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }

  .icon {
    font-size: 6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  .fileInput {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.infoText {
  color: #666;
  margin: 1rem 0;
  text-align: center;
  font-size: 0.875rem;
}
