.logout {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 12px;
  margin-right: 20px;
  background-color: transparent;
  color: var(--primary-color);
}

.logout:hover {
  border-color: var(--primary-hover);
  color: var(--primary-hover);
  background-color: transparent;
}
