.logout {
  margin-right: 1rem;
  background-color: transparent;
  color: var(--primary-color);
}

.logout i {
  font-size: 2rem;
}

.logout:hover {
  color: var(--primary-hover);
  background-color: transparent;
}
