.button {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 3rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--primary-hover);
  }

  &:disabled {
    background-color: #eaedf0;
    color: #6c757d;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 0.1rem solid var(--primary-color);
    outline-offset: 0.2rem;
    box-shadow: 0 0 0 0.25rem var(--primary-shadow);
  }
}
