.skills {
  flex: 60%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-right: 1.9rem;
  height: 5.7rem;

  &.smaller {
    margin-top: 2rem;
    flex-basis: 100%;
  }

  &.editable {
    margin-right: 0;
    height: 29rem;
  }

  &.selectable {
    margin-top: 1rem;
    height: 5.2rem;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  .noSkill {
    color: #555555;
    font-style: italic;
  }
}
