.helper {
  background-color: rgba(255, 193, 7, 0.7);
  border: none;
  color: #856404;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.helper:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.helper a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.helper a:hover {
  text-decoration: underline;
}
