.radioGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 60%;

  & > div {
    display: flex;

    .required {
      color: var(--error-color);
      margin-left: 0.25rem;
    }

    .radioLabel {
      font-size: 0.875rem;
      color: var(--primary-color);
      font-weight: bold;
      margin-right: auto;
    }

    .helperText {
      font-size: 0.75rem;
      color: var(--text-light);
      margin-top: 0.25rem;
    }

    .radioControl {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      cursor: pointer;

      .radioInput {
        display: none;

        &:checked + .radioSlider {
          background-color: var(--primary-color);
          box-shadow: 0 0 0.5rem var(--primary-shadow);
        }

        &:checked + .radioSlider:before {
          transform: translateX(1.25rem);
          background-color: transparent;
        }
      }

      .radioSlider {
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: var(--border-color);
        margin-right: 0.75rem;
        transition: var(--transition);

        &:before {
          content: "";
          position: absolute;
          height: 0.75rem;
          width: 0.75rem;
          border-radius: 50%;
          background-color: #fff;
          transition: var(--transition);
          left: 0.25rem;
          top: 0.25rem;
        }
      }

      .radioOptionLabel {
        font-size: 0.875rem;
        color: var(--text-color);
        transition: var(--transition);

        &:hover {
          color: var(--primary-hover);
        }
      }
    }
  }

  .errorText {
    color: var(--error-color);
    font-size: 0.75rem;
    height: 1rem;
    display: block;
  }
}
