.onboardingContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2.5rem;
  background-color: #f0f7ff;
  padding: 2rem;

  h3 {
    grid-column: span 2;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .extraClass {
      input,
      select,
      label {
        background-color: #f0f7ff !important;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .row {
      grid-template-columns: 1fr;
    }
  }
}
