.noRecordText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: default;
  transition: all 0.3s ease;

  .noRecordsIcon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: var(--primary-color);
  }

  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  }
}
