.callHubContainer {
  flex: 0 0 70%;
  margin-left: 30%;
  height: 93vh;
  position: fixed;
  overflow: hidden;
  width: 70%;

  @media (max-width: 768px) {
    flex: unset;
    margin-left: unset;
    position: unset;
    height: auto;
    width: 100%;
    overflow: unset;
  }
}
