.operations {
  display: flex;
  align-items: center;

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;

  background-color: rgb(245, 245, 245);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 2.25rem;
  text-align: center;
}

.logo img {
  width: 10rem;
}

.logo p {
  text-transform: uppercase;
  color: #073f74;
  font-size: 0.7rem;
  cursor: default;
}
