.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 50px 0 0 50px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-shadow);
}

.searchButton {
  border-radius: 0 50px 50px 0;
}

@media (max-width: 600px) {
  .search input {
    width: 180px;
  }

  .searchButton {
    padding: 10px 15px;
  }
}
