.iconText {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 0.6rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;

  &:hover {
    white-space: normal;
    word-break: break-all;
  }

  > span {
    margin-right: 0.6rem;

    i {
      color: var(--primary-color);
    }
  }
}
