.iconText {
  font-size: 0.9rem;
  color: #555555;
  margin-bottom: 0.4rem;

  max-width: 6.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    white-space: normal;
    word-break: break-all;
  }

  > span {
    margin-right: 0.4rem;
  }
}
