.card {
  display: flex;
  width: 100%;
  height: 9.3rem;
  padding: 1rem;
  margin: 1.5rem 0;
  border: 0.0625rem solid #ddd;
  border-radius: 0.6rem;
  background-color: #f9f9f9;
  align-items: center;
  position: relative;
  transition: opacity 0.1s ease;
  cursor: default;
}

.card > div {
  height: 100%;
}

.card:hover .actions {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.hidden-actions {
  flex: 4%;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  transform: translateX(1.25rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}
