.actionsContainer {
  margin: auto 0 1.5rem;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 1rem;
      font-weight: 600;
      color: var(--primary-color);
      margin-bottom: 1rem;

      .required {
        color: var(--error-color);
        margin-left: 0.25rem;
      }
    }

    .extraSelectAllControl {
      margin-top: unset;
      width: 7.5rem;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 1rem;

    .extraCheckboxControl {
      margin-bottom: 0.5rem;
    }
  }

  .errorText {
    color: var(--error-color);
    font-size: 0.75rem;
    margin-top: 0.5rem;
    display: block;
    height: 1rem;
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .actionsContainer {
    margin: unset;
    margin-bottom: 1.5rem;
  }
}
