.upload {
  margin-bottom: 1.5rem;

  label {
    color: var(--primary-color);
    font-size: 0.875rem;
    font-weight: bold;
    margin-left: 0.1rem;
    transition: var(--transition);
  }

  .required {
    color: var(--error-color);
    margin-left: 0.25rem;
  }

  .dropzone {
    border: 0.1rem dashed var(--border-color);
    border-radius: 0.5rem;
    padding: 0.75rem;
    text-align: center;
    transition: var(--transition);
    margin-top: 0.2rem;
    cursor: pointer;

    &:hover,
    &.active {
      border-color: var(--primary-color);
      background-color: var(--primary-shadow);
    }

    &:focus-visible {
      outline: 0.1rem solid var(--primary-color);
      outline-offset: 0.2rem;
      box-shadow: 0 0 0 0.25rem var(--primary-shadow);
    }

    .icon {
      font-size: 2rem;
      color: var(--primary-color);
      margin-bottom: 1rem;
    }

    .text {
      font-size: 0.875rem;
      color: var(--text-light);
      margin-bottom: 0.5rem;
    }

    .browse {
      color: var(--primary-color);
      font-weight: 600;

      &:focus-visible {
        outline: 0.1rem solid var(--primary-color);
        outline-offset: 0.2rem;
        box-shadow: 0 0 0 0.25rem var(--primary-shadow);
      }
    }

    &.error {
      border: 0.1rem dashed var(--error-color);
    }
  }

  .file {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-color);
    border-radius: 0.25rem;

    .fileIcon {
      font-size: 1.25rem;
      color: var(--primary-color);
      margin-right: 0.5rem;
    }

    .fileName {
      font-size: 0.875rem;
      color: var(--text-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .removeIcon {
      margin-left: auto;
      color: var(--text-light);
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        color: var(--error-color);
      }

      &:focus-visible {
        outline: 0.1rem solid var(--primary-color);
        outline-offset: 0.2rem;
        box-shadow: 0 0 0 0.25rem var(--primary-shadow);
      }
    }
  }

  .errorText {
    color: var(--error-color);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    height: 1rem;
    display: block;
  }
}
