.skillBubble {
  background-color: #e0e0e0;
  border-radius: 0.9rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  color: #444;

  &.editable {
    background-color: #0f8cea;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    color: #ffffff;
    cursor: default;
    display: flex;
    align-items: center;
    animation: jiggle 0.5s ease-in-out infinite;

    i {
      cursor: pointer;
      font-size: 1.5rem;
      margin-left: 0.1rem;
    }

    &:hover {
      background-color: #0570c1;
    }
  }

  &:hover {
    background-color: #e3f2fd;
  }

  @keyframes jiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    75% {
      transform: rotate(1deg);
    }
  }
}
