.location {
  flex: 11%;
}

.location > div:first-child {
  margin-top: 0.4rem;
}

.experience {
  width: 4.7rem;
  margin-top: 0.6rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
