.cards {
  margin: 12.3rem 10% 0;

  &.smaller {
    width: 30%;
    margin: 9.3rem 4% 0;
  }
}

@media (max-width: 1024px) {
  .cards {
    width: 90%;
    margin: 11.3rem auto 0;
  }
}

@media (max-width: 480px) {
  .cards {
    margin: 15rem auto 0;
  }
}
