.authPanel {
  background: #073f74;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;

  &::before,
  &::after {
    content: "";
    background-image: url("../../../assets/corner.png");
    background-size: cover;
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }

  &::after {
    bottom: 0;
    right: 0;
  }
}
