.statusMsgContainer {
  position: fixed;
  top: 7rem;
  right: 3rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  animation: slideIn 0.5s forwards, fadeOut 2s 3s forwards;

  &.success {
    background-color: #28a74580;
    border: 0.06rem solid #28a745;
    color: #155724;

    &.light {
      background-color: #28a745;
      border-color: #28a74580;
      color: #ffffff;
    }
  }

  &.warning {
    background-color: #ffc10780;
    border: 0.06rem solid #ffc107;
    color: #856404;

    &.light {
      background-color: #ffc107;
      border-color: #ffc10780;
      color: #ffffff;
    }
  }

  &.failure {
    background-color: #dc354580;
    border: 0.06rem solid #dc3545;
    color: #721c24;

    &.light {
      background-color: #dc3545;
      border-color: #dc354580;
      color: #ffffff;
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
