.loaderContainer {
  margin-left: 30%;
  height: 100vh;
  width: 70%;
  position: relative;
}

.overlay {
  flex: 0 0 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  height: 85vh;
  background: linear-gradient(135deg, var(--bg-color) 0%, #e2e8f0 100%);
  overflow: hidden;
  position: fixed;
  width: 70%;

  .content {
    text-align: center;
    z-index: 1;
  }

  .title {
    font-size: 4rem;
    font-weight: 900;
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: -0.05em;
    line-height: 1.2;
    text-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.1);

    .highlight {
      color: var(--primary-color);
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.1em;
        width: 100%;
        height: 0.1em;
        background-color: var(--primary-color);
        opacity: 0.3;
        transform: skew(-12deg);
      }
    }
  }

  .subTitle {
    font-size: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .rocket {
    font-size: 4rem;
    color: var(--primary-color);
    animation: float 3s ease-in-out infinite;

    @keyframes float {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-1.25rem);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    opacity: 0.1;
    animation: pulse 10s ease-in-out infinite alternate;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.2);
      }
    }
  }

  &::before {
    background-color: var(--primary-color);
    top: -5vw;
    left: -5vw;
  }

  &::after {
    background-color: var(--error-color);
    bottom: -5vw;
    right: -5vw;
    animation-delay: 5s;
  }
}

@media (max-width: 768px) {
  .overlay {
    position: relative;
    width: unset;
    margin-left: unset;

    .content {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .title {
      font-size: 3rem;
    }
    .subTitle {
      @media (max-width: 768px) {
        font-size: 1.25rem;
      }
    }
  }
}
